body {
  text-align: center;
  min-width: 980px; }

#content {
  text-align: left;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

form div {
  width: 300px;
  margin-bottom: 1em;
}

form input { float:right; }
form td { border: 1px black solid; }
table { border-spacing: 0; }

.big_label { text-align:center; }
