= page_header "Aktualna frekwencja klasy "
= render 'teacher/absences/absences', :previous_month => @previous_month, :next_month => @next_month, :weeks => @weeks, :students => @students, :absences => @absences
