<%= director_semesters_navigation(@school_class, @semesters) %>

<table class="table table-bordered">
  <tr>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>%</th>
    <th>Obowiązkowe</th>
    <th>Usprawiedliwione</th>
    <th>Nieusprawiedliwione</th>
    <th>Spóźnienia</th>
  </tr>

  <% @students.each do |student| %>
    <tr>
      <td><%= student.first_name %></td>
      <td><%= student.last_name %></td>
      <%= semester_absences(student, @semester_id) %>
    </tr>
  <% end %>

</table>
