<h2 class="title">Frekwencja aktywnych klas</h2>

<table>
  <tr>
    <th>Klasa</th>
    <th>Ogólna frekwencja</th>
    <th>Bieżąca frekwencja</th>
    <th>Oceny</th>
  </tr>
  <% @school_classes.each do |school_class| %>
    <tr>
      <td><%= school_class.fullname %></td>
      <td><%= link_to("Pokaż", general_director_absences_path(school_class)) %></td>
      <td><%= link_to("Pokaż", actual_director_absences_path(school_class)) %></td>
      <td><%= link_to("Pokaż", director_marks_path(school_class)) %></td>
    </tr>
  <% end %>
</table>
