= render "teacher/subjects/subjects_dropdown", subjects: current_teacher.subjects

= page_header "Zachowanie", "Ocena semestralna z zachowania"

= info_box "Zachowanie",
  'Żeby dodać ocenę należy kliknąć na odpowiednie miejsce w tabeli. Jeśli chcesz usunąć ocenę należy wpisać "0"',
  image_tag("teacher_behavior_marks_info_1.png", style:"margin:0", class:"span5")

= render "marks_table", students: current_teacher.students

:javascript

  $(document).ready(function() {
    $.ajaxSetup({
      beforeSend: function(xhr) {
        xhr.setRequestHeader('X-CSRF-Token',$('meta[name="csrf-token"]').attr('content'));
      }
    });

    var parsed_id;

    $('.behavior_mark').live('click', function() {
      clone = $(this).clone();
      parsed_id = $(this).attr('id').split('_');
      old_mark = clone.text();
      clone.text('');
      clone.append('<input id="behavior_mark_active" name="mark[mark]" type="text" value="">');
      $(this).replaceWith(clone);
      $('#' + clone.attr('id')).children().focus();
    });

    $('#behavior_mark_active').live('blur', function() {
      mark = $(this).val();
      data = 'mark[mark]=' + mark +
      '&mark[student_id]=' + parsed_id[2]
      $.ajax({
        type: 'PUT',
        url: '/teacher/behavior_marks',
        data: data,
      });
    });
  });
