.btn-group
  %button.btn Wybierz klasę
  %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
    %span.caret
  %ul.dropdown-menu
    - current_director.school_classes.active.each do |school_class|
      = nav_link_to(school_class.fullname, director_school_class_report_path(school_class))

= page_header "Raport nauczania klasy #{@school_class.fullname}"

= render "teacher/reports/report", school_class:@school_class, semesters:current_director.current_year_semesters, school_year:current_director.school_year
