table.students {
	border: 1px solid #eee;
	border-collapse:separate;
	border-spacing:0px;
	border-radius:5px;
	width:100%;
}

table.students th.students_top{
	
	padding-top:3px;
	padding-left:3px;
	padding-right:3px;
	padding-bottom:3px;
	width:25px;
	height:25px;
	overflow:hidden;	
}

table.students .bg1 {
	background:url('../../img/header_1.gif');
	border:1px solid #8857ff;
	color:#230c5c;
	text-shadow: -1px 1px 0px #c1a7ff;
	
}

table.students .bg2 {
	background:url('../../img/header_2.gif');
	border:1px solid #ceff57;
	color:#5e8208;
	text-shadow: -1px 1px 0px #efffc9;
}

table.students .bg3 {
	background:url('../../img/header_3.gif');
	border: 1px solid #fe577f;
	color:#7e0723;
	text-shadow: -1px 1px 0px #ffb6c7;
}

table.students .bg4 {
	background:url('../../img/header_4.gif');
	border:1px solid #ffc057;
	color:#ac6b00;
	text-shadow: -1px 1px 0px #ffc057;
}

table.students .bg5 {
	background:url('../../img/header_5.gif');
	border:1px solid #57c0ff;
	color:#044b75;
	text-shadow: -1px 1px 0px #afe1ff;
}

table.students .bg6 {
	background:url('../../img/header_6.gif');
	border:1px solid #e1e1e1;
	color:#6a6a6a;
	text-shadow: -1px 1px 0px #f6f6f6;
}

table.students .bg6:hover {
	background:url('../../img/header_2.gif');
	border:1px solid #ceff57;
	color:#5e8208;
	text-shadow: -1px 1px 0px #efffc9;
}

table.students td.student_record {
	padding-top:4px;
	padding-bottom:4px;
	padding-right:6px;
	background-color:#f8f8f8;
}

table.students td.student_record_ {
	padding-top:4px;
	padding-bottom:4px;
	padding-right:6px;
	background-color:#fff;
}
table.students td.mark {
	padding:5px;
	text-align:center;
	width:28px;
	height:28px;
}

table.students td.gray{
	background-color:#f8f8f8;
}

table.students td.white{
	background-color:#fff;
}

table.students td.mark_average{
	padding:5px;
	text-align:center;
	width:28px;
	height:28px;
	background-color:#f8f8f8;
}



table.students td.mark:hover,td.mark_:hover {
	/*#border:1px dotted #7fa214;	*/
	background-color:#eee;
}

input[type="text"].mark_active{
	min-width:23px !important;
	width:23px !important;
	text-align:center;
	
}

.student_manage {
	text-align:center;
	width:140px;
}

.fisrt_name {

width:150px;
}

.last_name {
 width:150px;
}
