input.absence_active {
	width:18px !important;
	min-width:18px !important;
	font-size:8pt;
	text-align:center;
}

div.navigation {
	width:280px;
	height:30px;
	margin:0 auto;
	padding:0;
}

table th.day {
	padding-left:0px;
}