= page_header "Plan lekcji"
- unless @time_tables.empty?
  = render "teacher/time_tables/time_tables", :time_tables => @time_tables
- else
  = info_box "Wychowawca nie uzupełnił jeszcze planu lekcji.", ""
