<div class="alert alert-info">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <div class="row">
    <div class="span6">
      <h4 class="alert-heading">Klasy i semestry</h4>
      Żeby ustawić semestr jako aktywny należy kliknąć na jego nazwę.
    </div>
    <%= image_tag("teacher_school_classes_info_1.png", :style => "margin:0;", :class => "span5") %>
  </div>
</div>
