<div>
  <%= lessons_form.hidden_field :number, :value => 'new_lesson_number' %>
  <%= lessons_form.label :subject_id, "Lekcja" %>
  <%= lessons_form.select :subject_id, subjects, :include_blank => true %>
</div>
